doctype html
html
    head
        title This is an Expirment
        meta( name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" )
        link( href="stylesheets/styles.css", rel="stylesheet" )


    body
        canvas#canvas

        script( src="javascripts/main.js" )