doctype html
html
    head
        title Grid

        meta( charset="UTF-8" )

        meta( name="author", content="Mathias Paumgarten" )
        meta( name="description", content="Grid is a 2D automated path exploration" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" )

        link( href="stylesheets/styles.css", rel="stylesheet" )


    body

        canvas#canvas

        script( src="javascripts/main.js" )